$c-trans-in: cubic-bezier(0.32, 0, 0.67, 0);
$c-trans-out: cubic-bezier(0.5, 1, 0.89, 1);

.front-page-hero {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(184.52deg, #142B65 160px, #941537 219.96%);
    pointer-events: none;

    @media screen and (min-width: 1024px) {
        height: 100vh;
        width: 100vw;
        background: transparent;
    }
}

.tw-fp {
    position: relative;
    height: 100vh !important;
    z-index: 5;
    pointer-events: none;

    @media screen and (max-width: 1023px) {
        height: inherit !important;
    }

    &__section {
        position: relative;
        min-height: 100vh;            
        pointer-events: none;

        // Load
        animation: h2In 1500ms ease-in-out forwards;
    }

    &__content {
        position: relative;
        padding: 150px 20px 0;
        color: white;
        z-index: 5;

        // @media screen and (min-width: 1024px) {
        //     // opacity: 0;
        //     transition: opacity 600ms cubic-bezier(0.33, 1, 0.68, 1);
        // }

        @media screen and (min-width: 1250px) {
    		padding: 0 120px;
        }

        &--right-align {
            text-align: right;

            & .tw-fp__title {
                @media screen and (min-width: 1024px) {
                    max-width: 520px;
                }
            }

            & .tw-fp__title,
            & .tw-fp__sub-title {
                margin-right: 0;
                margin-left: auto;
            }
        }
    }

    &__title {
        margin: 0;
        color: inherit;

        @media screen and (max-width: 767px) {
            font-size: 25px;
            line-height: 31px;
        }

        @media screen and (min-width: 768px) {
            max-width: 640px;            
        }

        @media screen and (min-width: 1024px) {
            opacity: 0;
            transition: 
                opacity 400ms $c-trans-out
            ;
        }
    }

    &__sub-title {
        color: inherit;
        margin-bottom: 24px;

        @media screen and (max-width: 767px) {
            font-size: 17px;
            line-height: 25px;
            margin-top: 16px;
        }

        & > span {
            display: block;
        }

        @media screen and (min-width: 1024px) {
            max-width: 500px;
            opacity: 0;
            transition: 
                opacity 400ms $c-trans-out
            ;
        }

        @media screen and (min-width: 1440px) {
            font-size: 30px;
            line-height: 34px;
        }
    }

    & .tw-button {
        margin: 0;

        @media screen and (min-width: 1024px) {
            opacity: 0;
            transition: 
                opacity 400ms $c-trans-out
            ;
        }
    }

    &__graphic {
        transition: 
            opacity 400ms $c-trans-out
        ;
    
        position: relative;
        width: 100%;
        max-width: 1500px;
        height: auto;
        max-height: 1500px;
        position: absolute;
        right: -50%;
        bottom: -10%;
        z-index: -1;
    
        transform: rotate(0);
        animation: slowRotate 240s linear infinite;

        @media screen and (min-width: 1024px) {
            opacity: 0;
            top: 160px;
            bottom: unset;
            z-index: 1;
        }
    
        @media screen and (min-width: 1800px) {
           right: -25%;
        }
     
        &--left {
            right: unset;
            left: -50%;
    
            @media screen and (min-width: 1800px) {
                left: -25%;
            }

        }

    }

    
    &__bg {
        position: absolute;
        background-color: #142B65;
        background: linear-gradient(184.52deg, #142B65 160px, #941537 219.96%);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;

        @media screen and (max-width: 1023px) {
            display: none;
            visibility: hidden;
            z-index: -9999;
        }
    }
}

// Section 2 Messaging Rotation
#sectionTwo {
    & .tw-fp__sub-title {
        position: relative;
        height: 100px;
        margin-bottom: 0;
    
        & span {
            position: absolute;
            top: 0;
            right: 0;
        }

        & .message-two,
        & .message-three {
            opacity: 0;
        }
    }

    &.fpRotateMessaging {
        & span.message-one {
            animation: 3.5s h2InOut 1s forwards;
        }
    
        & span.message-two {
            animation: 3.5s h2InOut 4s forwards;
        }   
        
        & span.message-three {
            animation: 1.5s h2In 7s forwards;
        }  
    }  
}

@keyframes h2Out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes h2In {
    0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes h2InOut {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

// Section Slide Animations
.active {
    & .tw-fp__content {
        opacity: 1;
        transition: 
            opacity 1200ms $c-trans-in 600ms,
        ;
    }

    & .tw-fp__title {
        opacity: 1;
        transform: translateY(0);
        transition: 
            opacity 600ms $c-trans-in 600ms,
        ;
    }

    & .tw-fp__sub-title {
        opacity: 1;
        transform: translateY(0);
        transition: 
            opacity 600ms $c-trans-in 800ms,
        ;
    }

    & .tw-button {
        opacity: 1;
        transform: translateY(0);
        transition: 
            opacity 600ms $c-trans-in 1000ms,
        ;
    }

    & .tw-fp__graphic {
        opacity: 1;
        transition: opacity 1000ms $c-trans-in 200ms;
    }
}

@keyframes slowRotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

// Breaks FullPage.js for normal scrolling
.fp-scroll-free {
    height: auto !important;
    overflow-y: auto !important;

    @media screen and (max-width: 1023px) {
        overflow-x: hidden !important;
    }
}

// Home Page Only Rules
body.home {
    & .tw-nav {
        background: linear-gradient(180deg, rgba(20,43,101,0.25) 0%, rgba(20,43,101,0) 90%);
    }

    & > .tw-nav .nav-main,
    & > .tw-nav .nav-shorts {
        background-color: transparent;
    }
}

// Page Load Fade
// body {
//     opacity: 1;
//     transition: 0.7s opacity;
// }
  
// body.fade {
//     opacity: 0;
//     transition: none;
// }

// FullPage Load
// .tw-fp .section {
//     opacity: 0;
//     transition: none;

//     &.fpRendered {
//         opacity: 1;
//         transition: 0.7s opacity;
//     }
// }