/*
* Live chat
*/


/* desktop */
#livechat-compact-container {
	position: fixed !important;
	bottom: 0px !important;
	right: 0px !important;
	width: 400px !important;
	height: 53px !important;
	overflow: hidden !important;
	visibility: visible !important;
	z-index: 2147483639 !important;
	background: transparent !important;
	border: 0px !important;
	transition: transform 0.2s ease-in-out 0s !important;
	backface-visibility: hidden !important;
	opacity: 1 !important;
	transform: translateY(0%) !important;
}

#livechat-compact-view {
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
    width: 100% !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    float: none !important;
    background: none !important;
}

#content-container {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 6 !important;
	line-height: 53px !important;
}

#content {
	padding: 0 !important;
	border-radius: 0 0 0 0 !important;
	box-shadow: none !important;
	background-clip: padding-box !important;
	border: 0!important;
	height: 100% !important;
	vertical-align: middle !important;
	background: #FFD631 !important;
	box-shadow: inset 0px 0px 0px rgba(255,255,255,0) !important;
}

#content #open-label {
	display: block !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	padding: 0px 25px !important;
}

#content #full-view-button,
.lc2 #content #full-view-button {
	font-size: 18px !important;
	font-weight: 400 !important;
	color: #002D72 !important;
}

#content #open-icon {
	top: 14px !important;
	right: 40px !important;
	width: 20px !important;
	height: 20px !important;
	position: relative !important;
	font-size: 2px !important;
}

.icon-maximize:before {
	display: block !important;
	content: "\e911" !important;
    position: absolute !important;
    top: 11px !important;
    left: 0 !important;
    z-index: 10 !important;
    color: #002D72 !important;
}

.icon-maximize:after {
	display: block !important;
	content: "\e911" !important;
    position: absolute !important;
    top: 11px !important;
    left: 0 !important;
    z-index: 10 !important;
    color: #002D72 !important;
    transform: rotate(-90deg) !important;
    transform-origin: center !important;
}


/* mobile */
#livechat-compact-container {
	height: 56px !important;
}

#content-container.new-mobile {
	padding: 0 0 !important;
	box-sizing: border-box !important;
	line-height: 1em !important;
}

#content-container.new-mobile #content {
	height: 100% !important;
	box-shadow: 0 0 0 rgba(0,0,0,0) !important;
	padding: 0 10px !important;
}

#content-container.new-mobile #content,
#extra.new-mobile {
	margin-top: 0 !important;
	border-radius: 0 !important;
}


/* open chat */
.title-bg, .title-button, .title-button:hover {
	background: #FFD631 !important;
}

#title #title-text {
	font-size: 17px !important;
	font-weight: 400 !important;
	color: #002D72 !important;
}

#title-container #minimize {
	height: 29px!important;
    padding-top: 3px!important;
    margin-right: 0!important;
    position: relative!important;
    right: 32px!important;
}

.icon-minimize {
	height: 29px!important;
}

.icon-minimize:before {
	display: block!important;
	content: "\e911"!important;
    position: absolute!important;
    top: 11px!important;
    left: 0!important;
    z-index: 10!important;
    color: #002D72!important;
    transform: rotate(45deg)!important;
    transform-origin: center!important;
}

.icon-minimize:after {
	display: block!important;
	content: "\e911"!important;
    position: absolute!important;
    top: 11px!important;
    left: 0!important;
    z-index: 10!important;
    color: #002D72!important;
    transform: rotate(-45deg)!important;
    transform-origin: center!important;
}

#livechat-full {
	position: fixed !important;
	bottom: 0px !important;
	right: 0px !important;
	width: 400px !important;
	height: 450px !important;
	overflow: hidden !important;
	visibility: visible !important;
	z-index: 2147483639 !important;
	background: transparent !important;
	border: 0px !important;
	transition: transform 0.2s ease-in-out 0s !important;
	backface-visibility: hidden !important;
	transform: translateY(0%) !important;
	opacity: 1 !important;
}

#livechat-full #content {
	padding: 0 !important;
	background: #fff !important;
	border-radius: 0 0 0 0 !important;
	box-shadow: 0 2px 15px rgba(0,0,0,.2)!important;
	background-clip: padding-box !important;
}

.outline {
	border: 0!important;
	padding: 15px 0 0 15px !important;
	box-shadow: none!important;
}

.operator, .operator-name, .operator-role, .textarea-font, #message {
	color: #002D72 !important;
}

.textarea-font, #message, #message-placeholder {
	font-size: 15px !important;
}

#content img.avatar {
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important; 
}


/* powered by */
#new-powered {
	font-family: Lato, sans-serif!important;
    position: absolute!important;
    bottom: 0!important;
    box-sizing: border-box!important;
    text-align: right!important;
    height: 30px!important;
    line-height: 30px!important;
    color: #b4b4b4!important;
    font-size: 10px!important;
    background: whitesmoke!important;
    width: calc(100% - 30px)!important;
    right: 0!important;
    margin-right: 0px!important;
    padding-right: 10px!important;
    cursor: default!important;
}



